root {display: block;}
.root {-fx-background-image: url("darkbackground.jpg");}

.label {
	-fx-font-size: 16px;
	-fx-text-fill: blue;
}

#title {
	-fx-font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}

.list-cell {
	-fx-background-image: url("darkbackground.jpg");
}

.text-area {
	-fx-text-fill: black;
}

.text-area .content {
	-fx-background-color: lightgrey;
}

.text-field {
	-fx-background-color: grey;
	-fx-text-fill: blue;
}

.progress-indicator {
	-fx-progress-color: whitesmoke;
}

.scroll-bar {
	-fx-background-color: darkslategrey;
	-fx-background-radius: 30;
	-fx-background-insets: 0;
}

.scroll-bar .thumb {
	-fx-background-color: grey;
	-fx-background-radius: 40;
	-fx-background-insets: 2;
}

.button {
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow", Arial, sans-serif;
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#1030CF, #222391);
	-fx-effect: dropshadow(three-pass-box, rgba(224,224,224,0.6), 5,0.0,0,1)
}

.button:hover {
	-fx-background-color: linear-gradient(#0032FA, #000DFF);
}

.drop-down-box {
	
}
