root {display: block;}
.root {-fx-background-image: url("darkbackground.jpg");}

.label {
	-fx-text-fill: whitesmoke;
}



.list-cell {
	-fx-background-image: url("darkbackground.jpg");
	-fx-text-fill:whitesmoke;
}

.text-area {
	-fx-text-fill: whitesmoke;
}

.text-area .content {
	-fx-background-color: #222222 ;
}

.text-field {
	-fx-background-color: grey;
	-fx-text-fill: whitesmoke;
}

.progress-indicator {
	-fx-progress-color: whitesmoke;
}

.scroll-bar {
	-fx-background-color: #222222;
	-fx-background-radius: 30.0;
	-fx-background-insets: 0.0;
}

.scroll-bar .thumb {
	-fx-background-color: grey;
	-fx-background-radius: 40.0;
	-fx-background-insets: 2.0;
}

.button {
	-fx-text-fill: white;
	-fx-font-family: "Arial Narrow", Arial, sans-serif;
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(#333333, #444444);
	-fx-effect: dropshadow(three-pass-box, rgba(224.0,224.0,224.0,0.6), 5.0,0.0,0.0,1.0)
}

.button:hover {
	-fx-background-color: linear-gradient(#0032FA, #000DFF);
}

.drop-down-box {
	
}
