root {}
.root {-fx-background-image: url("lightbackground.jpg");}

.text-field {
	-fx-background-color: whitesmoke;
}

.progress-indicator {
	-fx-progress-color: #f6a327;
}

.list-cell {
	-fx-background-image: url("lightbackground.jpg");
}

.scroll-bar {
	-fx-background-color: whitesmoke;
	-fx-background-radius: 30;
	-fx-background-insets: 0;
}

.scroll-bar .thumb {
	-fx-background-color: antiquewhite;
	-fx-background-radius: 40;
	-fx-background-insets: 2;
}

.button {
	-fx-text-fill: black;
	-fx-font-family: "Arial Narrow", Arial, sans-serif;
	-fx-font-weight: bold;
	-fx-background-color: linear-gradient(floralwhite, whitesmoke);
	-fx-border-color: black;
	-fx-border-style: solid;
	-fx-border-insets: 0;
	-fx-border-radius: 0 3 3 3, 0 3 3 3, 0 2 2 2;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5,0.0,0,1)
}

.button:hover {
	-fx-background-color: linear-gradient(antiquewhite, linen);
}

.drop-down-box {
	/*theme selection*/
}
